@ -18,16 +18,32 @@
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
 <!--  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<!--   <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">


<!--   <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">

<!--   <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">

 <!--  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">


<!--   <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">

<!--   <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
<!--   <link href="assets/css/style.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

</head>

@ -37,8 +53,10 @@
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
      <a href="./index" class="logo d-flex align-items-center">
       <!--  <img src="assets/img/logo.png" alt=""> -->
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
        
        <span class="d-none d-lg-block">TerramEtVeru</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
@ -147,7 +165,9 @@

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <!-- <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle"> -->
                <img src="{{ url_for('static', filename='assets/img/messages-1.jpg') }}" alt="">

                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
@ -175,7 +195,9 @@

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <!-- <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle"> -->
                <img src="{{ url_for('static', filename='assets/img/messages-3.jpg') }}" alt="">

                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
@ -198,7 +220,9 @@
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <img src="{{ url_for('static', filename='assets/img/profile-img.jpg') }}" alt="">

            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

@ -262,7 +286,7 @@
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
        <a class="nav-link " href="./graficos">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
@ -274,7 +298,7 @@
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
            <a href="./edit">
              <i class="bi bi-circle"></i><span>Edição</span>
            </a>
          </li>
@ -287,12 +311,12 @@
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
            <a href="#">
              <i class="bi bi-circle"></i><span>Abertos</span>
            </a>
          </li>
          <li>
            <a href="tables-data.html">
            <a href="">
              <i class="bi bi-circle"></i><span>Histórico</span>
            </a>
          </li>
@ -307,7 +331,7 @@
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="./graficos">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
@ -763,18 +787,33 @@
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
<!--   <script src="assets/vendor/apexcharts/apexcharts.min.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>

  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- <script src="assets/vendor/chart.js/chart.min.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.min.js') }}"></script>

  <!-- <script src="assets/vendor/echarts/echarts.min.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>

  <!-- <script src="assets/vendor/quill/quill.min.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>

  <!-- <script src="assets/vendor/simple-datatables/simple-datatables.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>

  <!-- <script src="assets/vendor/tinymce/tinymce.min.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>

  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <!-- <script src="assets/js/main.js"></script> -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

